@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
:root{
    --pink: hsl(322, 100%, 66%);
    --light-pink: hsl(321, 100%, 78%);
    --light-red: hsl(0, 100%, 63%);

    --very-dark-cyan: hsl(192, 100%, 9%);
    --very-pale-blue: hsl(207, 100%, 98%);
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 1.5em .5em 0 0;
    font-family: 'Open Sans', sans-serif;
}

main{
    padding-left: .5em;
}

header{
    margin: 0 .5em;
    margin-bottom: 5em;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

nav img{
    width: 7em;
}

nav .header_nav{
    max-width: 10em;
    padding: .25em 1em;
    text-decoration: none;
    color:var(--pink);
    border: 1px solid var(--pink);
    border-radius: 15px;
}

.hero_sec{
    margin: .5em 3em 3em 3em;
    text-align: center;
}

.hero_sec .heading{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    line-height: 1.5;
    color: var(--very-dark-cyan);
    margin-bottom: 1.5em;
}

.hero_sec .desc{
    text-align: inherit;
  
    line-height: 1.4;
    color: var(--very-dark-cyan);
    font-size: 99%;
    margin-top: .5em;
    margin-bottom: 1.5em;
}

.hero_sec .hero_nav{
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: var(--very-pale-blue);
    background-color: var(--pink);
    border-radius: 20px;
    padding: .5em 1.5em;
    margin-top:1.5em;
    box-shadow: 0 5px 5px hsl(192, 100%, 9%, 20%);
}

.container{
    margin: 5em 0 ;
    text-align: center;
}

.chats{
    margin: 1.5em 0;
}

.image{
    max-width: 100%;
    height: auto;
}

.container .record_section{
    margin: 4em 0 4em 0;
}

.communities{
    margin-bottom: 5em;
    position: relative;
}

.communities::before{
    content: url(./images/icon-communities.svg);
    position: absolute;
    display: inline-block;
    max-width: 1.5em;
    top: -2em;
    left: 7em;
}

.messages{
    position: relative;
    margin-top: 2em;
}

.messages::before{
    content: url(./images/icon-messages.svg);
    position: absolute;
    display: inline-block;
    max-width: 1.5em;
    top: -2em;
    left: 7em;
}

.records_heading{
    font-weight: 700;
    font-size: 3rem;
}

/* .container_images{
    position: absolute;
    display: inline-block;
    max-width: 1.5em;
    left: 6.75em;
    top:-1.5em;
} */

.second_container{
    text-align: center;
    margin: 5em 0;
  
}

.brief_section{
    background-color: var(--very-pale-blue);
    margin: 3em 0;
}

.image{
    margin-top: 5em ;
}

.small-container{
    margin: 4em 0 8em 0;
}

.subheading{
    font-family: 'Poppins', sans-serif;
    margin-bottom: 1em;
    
}

.info{
    font-weight: 400;
    text-align: center;
    line-height: 1.5;
}

.get-started{
    margin: 10em 0;
    text-align: center;
}

.get_started{
    font-family:  'Poppins', sans-serif;
    margin-bottom: 1.5em;
}

.hero_nav{
    font-weight: 600;
    display: inline-block;
    text-decoration: none;
    color: var(--very-pale-blue);
    background-color: var(--pink);
    border-radius: 20px;
    padding: .5em 1.5em;
    margin-top:.5em;
    box-shadow: 0 5px 5px hsl(192, 100%, 9%, 20%);
}

footer{
    /* position: relative; */
    background-color: var(--very-dark-cyan);
}

.footer_container{
    /* position: absolute; */
    background-image: url(./images/bg-footer-top-mobile.svg);
    background-repeat: no-repeat;
    width: 100ox;
    top: -20px;
    color: white;
    padding: 4em 2em 2em 2em;

}

.news-letter h2{
    margin-bottom: .8em;
}

.news_signin{
    line-height: 1.5rem;
    margin-bottom: 1.2em;
}

input{
    display: inline-block;
}

#news{
    width:100%;
    padding: .8em;
    border: none;
    border-radius:5px;
}

#submit{
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    float: right;
    margin-top: 1em;
    color: var(--very-pale-blue);
    background-color: var(--pink);
    border: none;
    border-radius: 5px;
    padding: .5em 3em;
}

.contact{
    margin-top: 10em;
}

.contact p{
    margin-bottom: 2em;
}

.footer-logo{
   width:9em;
   margin-bottom: 1em;
}

ul li{
    list-style-type: none;
}

.phone , .email-id{
    margin-bottom: 1.5em;
}

.phone::before{
    content: url(./images/icon-phone.svg);
    margin-right: 1em;
    align-self: center;
}

.email-id::before{
    content: url(./images/icon-email.svg);
    margin-right: 1em;
    align-self: center;
}

.social-media{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 2em;
}

@media screen and (min-width: 768px) {
    nav img{
        width: 10em;
    }

    .image{
        max-width: 60%;
    }

    .hero_sec .heading{
        font-weight: 700;
        font-size: 2rem;
    }

    .hero_sec .desc{
        font-size: 1.1rem;
        padding: 0 15em;
        line-height: 1.5;
    }

    .hero_sec .hero_nav{
        padding: 1em 4em;
        border-radius:50px;
    }

    .hero_nav{
        padding: 1em 4em;
        border-radius:50px;
    }

    .records{
        display: grid;
        grid-template-columns: repeat (2,1fr );
        gap: 1em; 
        align-content: center;
        margin-top: 9em;
    }

    .communities{
        grid-column: 1/2;
    }

    .communities::before{
        left:15em;
    }

    .messages{
        grid-column: 2/3;
        top:-2em;
    }

    .messages::before{
       left:15em;
    }

    .brief_section{
        padding: 4em 5em .25em 2em;
        
    }

    .grow_section,.flowing_section,.users_section{
        display: flex;
        gap: 5em;
        margin-bottom: 10em;
        align-self: center;
    }

    .grow_section, .users_section{
        flex-direction: row-reverse;
    }

    .brief_section .image{
        max-width:30%
    }

    .small-container{
       padding: 0 3em;
    }

    .footer_container{
       display: grid;
       grid-template-columns: repeat(2,1fr);
       grid-template-rows: repeat(3.1fr);
       gap: 2em;
    }

    .contact{
        grid-column: 1/2;
        grid-row: 2/3;
        align-content: flex-start;
    }

    .news-letter{
        grid-column: 2/3;
        grid-row: 2/3;
    }
}